* {
  margin: 0;
  padding: 0;
}
header {
  background-color: #1da1f2;
  padding: 20px;
  text-align: center;
  margin-bottom: 100px;
}

.logo img {
  max-width: 100px;
  height: auto;
}

.feed {
  width: 35%;
  margin: auto;
}

.card {
  border: 0.5px solid #cccccc8d;
  padding: 30px;
}

.profileContainer {
  display: flex;
  align-items: start;
  column-gap: 15px;
  margin-bottom: 20px;
}

.image {
  border-radius: 50%;
  width: 50px;
  height: auto;
}

.card .user {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 15px;
  font-weight: bolder;
  color: #0f1419;
  line-height: 25px;
}

.card .email {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 13px;
  color: #536471;
  margin-top: 30px;
}

.card .title {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 5px;
}

.title:first-letter {
  text-transform: capitalize;
}

.card .text {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 18px;
  margin-bottom: 10px;
}

.text:first-letter {
  text-transform: capitalize;
}

.card .delete-button {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 15px;
  color: red;
  cursor: pointer;
  border: 1px solid red;
  background-color: white;
  padding: 10px;
  margin-right: 0;
  margin-left: auto;
  display: block;
  border-radius: 5px;
  transition: all 0.4s ease-in-out;
}

.delete-button:hover {
  color: white;
  background-color: red;
}

/* Loading css stylies*/
@keyframes loading {
  0% {
    transform: translateY(-50%) rotate(0deg);
  }
  100% {
    transform: translateY(-50%) rotate(360deg);
  }
}

.loading {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 40px;
  margin-top: 10px;
  display: flex;
}

.loading::before,
.loading::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 2300%;
  width: 40px;
  height: 40px;
  border: 2px solid #ccc;
  border-top-color: #555;
  border-radius: 50%;
  animation: loading 1.2s ease-in-out infinite;
}

.loading::before {
  animation-delay: 0s;
}

.loading::after {
  animation-delay: -0.6s;
}

/* responsive design*/
@media (max-width: 900px) {
  .feed {
    width: 95% !important;
  }
}

@media (min-width: 901px) and (max-width: 1400px) {
  .feed {
    width: 50% !important;
  }
}
