$header-text-color: rgba(78, 78, 78, 1);

$header-active-color: rgba(87, 164, 164, 1);

$post-comment: rgba(124, 124, 124, 1);

$post-text-color: rgba(92, 92, 92, 1);

$instagram-section-bg: rgba(0, 0, 0, 0.03);

$footer-bg: rgba(0, 0, 0, 1);

$footer-title: rgba(254, 254, 254, 1);

$footer-text: rgba(185, 185, 185, 1);

$social-rss: rgba(248, 144, 46, 1);

$social-fb: rgba(57, 89, 159, 1);

$social-tw: rgba(69, 176, 227, 1);

$social-drb: rgba(217, 122, 176, 1);

$social-pnt: rgba(204, 33, 44, 1);

$drop-menu-bg: rgba(245, 245, 245, 1);

$drop-menu-hover-bg: rgba(229, 229, 229, 1);


