//font family
$ff-roboto: "Roboto", sans-serif;

//font weights
$fw-4: 400;
$fw-7: 700;
$fw-9: 900;

//font sizes
$h-fs: 0.688rem;
$p-t-fs: 1rem;
$p-c-fs: 0.75rem;
$p-d-fs: 0.875rem;
$ins-page-fs: 0.813rem;
